@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(235, 235, 230);
    font-family: 'Poppins', sans-serif;
}

.main-wrapper {
    height: 100vh;
    width: 100vw;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(41, 39, 39);
    color: white;
}

.brand-title {
    font-size: 1.5rem;
    padding: 1rem;
}

.navbar-links {
    margin-right: .5rem;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.navbar-links li {
    text-decoration: none;
    font-size: 1.1rem;
    text-align: center;
    list-style: none;
    min-width: 5rem;
    border-radius: 4rem;
    padding: 0.5rem;
    margin: 0.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease-in-out;
}

.navbar-links li:hover {
    background-color: gray;
    transform: scale(1.05);
}

.search-employee {
    margin: auto;
    max-width: 400px;
}

.search-icon {
    margin-left: 10px;
    cursor: pointer;
}

.employee-container {
    text-align: center;
}

.employee-table {
    margin: 25px auto;
    border-collapse: collapse;
    border-radius: 0.8rem 0.8rem 0 0;
    /* Makes sure that the border radius overrides the row border radius correctly */
    overflow: hidden;
    box-shadow: 0 0 20px;
    min-width: 800px;
}


/* Sets the padding for every cell in the entire table */

.employee-table th {
    padding: .8rem;
    word-wrap: break-word;
    max-width: 300px;
}


/* Sets properties for the header row */

.employee-table thead tr {
    background-color: rgb(21, 182, 134);
    text-align: center;
    font-size: 1.05rem;
}

.employee-table tbody tr th:first-of-type {
    font-size: 1.4rem;
}


/* Sets the border of every row in the body to lightgray */

.employee-table tbody tr {
    border-bottom: 2px solid lightgray;
    transition: transform 0.2s ease, background-color 0.3s ease;
}

.employee-table tbody tr:hover {
    transform: scale(1.02);
}


/* Targets the first cell of each row in the body, which is the employee ID */

.employee-table tbody tr th:first-of-type {
    color: red;
    font-style: italic;
}


/* Targets the even-numbered tr's (rows) of the tbody */

.employee-table tbody tr:nth-of-type(even) {
    background-color: #d6d6d6;
}


/* Targets the last tr (row) of the body */

.employee-table tbody tr:last-of-type {
    border-bottom: 2px solid rgb(21, 182, 134);
}

.crud-button {
    font-family: 'Poppins', sans-serif;
    height: 2.8rem;
    width: 4.6rem;
    box-shadow: 0 0 5px black;
    border-radius: 0.5rem;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    margin: 0.5rem;
    transition: box-shadow .2s ease;
}

.crud-button:active {
    transform: scale(0.95);
}

.crud-button:hover {
    box-shadow: 0 0 20px black;
}

.add-employee-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-employee-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 0.7rem;
    padding: 20px;
    box-shadow: 0 0 20px black;
    margin: 10px;
}

.add-employee-form input {
    font-family: 'Poppins', sans-serif;
    width: 300px;
    height: 30px;
    margin: 10px;
}

.form-element {
    text-align: center;
    width: 100%;
    margin: 10px;
}

.form-element::before {
    content: "* ";
    color: red;
}

.form-element input,
.search-employee input {
    font-family: 'Poppins', sans-serif;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid;
    margin: 10px auto 10px auto;
    font-size: 1rem;
}

.form-element input:focus,
.search-employee input:focus {
    outline: none;
    border-bottom: 2.5px solid blue;
}

.btn {
    font-size: 1rem;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    box-shadow: 0 0 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: lightgray;
}

.btn:hover {
    background-color: lightgray;
}